@model ChatApp.Models.MessagesViewModel
@{ string select = "selected";
    int[] choices = { 5, 10, 20 };}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rascal Chat</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Rascal chat client</h1>
            <img src="https://cdn.drawception.com/images/avatars/628711-EFE.png" alt="avatar" class="avatar" /><br />
            <br />
        </header>
        <main>
            <div class="row">
                <div class="align-content-lg-start">@Html.ActionLink("Register", "Register", "Home")</div>
                <div class="align-content-lg-start">@Html.ActionLink("Login", "Login", "Home")</div>
                <div class="align-content-lg-start">@Html.ActionLink("Log out", "LogOut", "Home")</div>
                <div class="align-content-lg-start">@Html.ActionLink("Channels", "Channels", "Home")</div>
            </div>
            <div>
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <select name="count">
                        @foreach (int choice in choices)
                        {
                            @if (choice == Model.Messages.Count)
                            {
                                <option value="@choice" selected="@select">@choice</option>
                            }
                            else
                            {
                                <option value="@choice">@choice</option>
                            }
                        }
                    </select>
                    <input type="submit" value="display" />
                }
            </div>

            @foreach (var message in Model.Messages)
            {
                <div class="row">
                    <div class="col"><img src="@message.Author.avatarurl" class="avatar" alt="avatar" /></div>
                    <div class="col">@message.Author.UserName</div>
                    <div class="col">@message.Created</div>
                    <div class="col">@message.Content</div>
                </div>
            }

            <div>
                @using (Html.BeginForm("Send", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="channelId" />
                    <input type="hidden" name="channelSecret" />
                    <input type="text" name="content" required placeholder="Put your message here" />
                    <input type="submit" value="send" />
                }
            </div>
        </main>
    </div>
</body>
</html>