@model Reddit.Models.IndexViewModel
@{string sortType = Model.SortByDate ? "date" : "votes";}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Submit New", "SubmitNew", "Home")

    <h1>Trending posts</h1>
    <p>You are on page: @(Model.CurrentPage + 1), Sorted by: @sortType</p>
    <span>@Html.ActionLink("Sort by date", "SortByDate", "Home", new { page = Model.CurrentPage, sortByDate = true })</span>
    <span>@Html.ActionLink("Sort by votes", "SortByDate", "Home", new { page = Model.CurrentPage, sortByDate = false })</span>
    <span>@Html.ActionLink("Filter by user", "FilterByUser", "Home")</span><br />
    <span><strong>Vote</strong></span>
    <span><strong>Current Votes</strong></span>
    <span><strong>Title</strong></span>
    <span><strong>Published</strong></span>
    <span><strong>Author</strong></span><br />
    @foreach (var post in Model.Posts)
    {
        <span class="vote-btn">@Html.ActionLink(" + ", "UpVote", "Home", new { id = post.Id, currentPage = Model.CurrentPage, sortByDate = Model.SortByDate })</span>
        <span class="vote-btn">@Html.ActionLink(" - ", "DownVote", "Home", new { id = post.Id, currentPage = Model.CurrentPage, sortByDate = Model.SortByDate })</span>
        <span class="votes">@post.Votes</span>
        <span class="title-link"><a href="@post.URL" target="_blank">@post.Title</a></span>
        <span class="published">@(post?.CreatedDate)</span>
        <span class="user">@post.User.Name</span>
        <br />
    }
    <p>Page: </p>
    @for (int i = 0; i < Model.PageCount; i++)
    {
        @Html.ActionLink(Convert.ToString(i+1) + "  ", "Index", "Home", new { page = i, sortByDate = Model.SortByDate})
    }
</body>
</html>