@model FoxClub.Models.Fox
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>@Html.ActionLink("Information", "info", "/")</p>
    <img src="~/greenfox.png" />
    <p>This is @Model.Name currently living on @Model.Food and @Model.Drink. He knows @Model.Tricks?.Count tricks.</p>
    <h2>Known tricks</h2>
    <ul>
        @foreach (var trick in Model?.Tricks)
        {
        <li>@trick</li>
        }
    </ul>

</body>
</html>

