@model FoxClub.Models.Fox
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nutrition store</title>
</head>
<body>
    @Html.ActionLink("Information", "Information", "Home", new { name = Model?.Name })<br />
    @Html.ActionLink("Nutrition store", "NutritionStore", "Home", new { name = Model?.Name })<br />
    @Html.ActionLink("Trick center", "Tricks", "Home", new { name = Model?.Name })<br />
    @Html.ActionLink("Action history", "ActionHistory", "Home", new { name = Model?.Name })<br />
    @Html.ActionLink("Members", "ShowMembers", "Home", new { name = Model?.Name })<br />
    @using (Html.BeginForm("NutritionStore", "Home", FormMethod.Post))
    {
        <label for="Food">Food</label>
        <select id="Food" name="Food">
            <option value="Pizza">Pizza</option>
            <option value="Bread">Bread</option>
            <option value="Salade">Salade</option>
            <option value="Baguette">Baguette</option>
        </select>
        <label for="Drink">Drink</label>
        <select id="Drink" name="Drink">
            <option value="Water">Water</option>
            <option value="Lemonade">Lemonade</option>
            <option value="Coffee">Coffee</option>
            <option value="Rum">Rum</option>
        </select>
        <input type="hidden" id="Name" Name="Name" value="@Model?.Name" />
        <input type="submit" value="Change" />
    }
    @{
        <span>Current state: </span>
        <p>Food: @Model?.Food Drink: @Model?.Drink</p>
    }
</body>
</html>
